<table style="width:20%">
  <tr>
    <td><button>A1</button></td>
    <td><button>A2</button></td>
    <td><button>A3</button></td>
    <td><button>A4</button></td>
    <td><button>A5</button></td>
  </tr>
  <tr>
    <td><button>B1</button></td>
    <td><button>B2</button></td>
    <td><button>B3</button></td>
    <td><button>B4</button></td>
    <td><button>B5</button></td>
  </tr>
  <tr>
    <td><button>C1</button></td>
    <td><button>C2</button></td>
    <td><button>C3</button></td>
    <td><button>C4</button></td>
    <td><button>C5</button></td>
  </tr>
  <tr>
    <td><button>D1</button></td>
    <td><button>D2</button></td>
    <td><button>D3</button></td>
    <td><button>D4</button></td>
    <td><button>D5</button></td>
  </tr>
  <tr>
    <td><button>E1</button></td>
    <td><button>E2</button></td>
    <td><button>E3</button></td>
    <td><button>E4</button></td>
    <td><button>E5</button></td>
  </tr>
</table>
