<p>What's your name?</p>
  <% if @visitor === 0 %>
    Hello PLAYER ONE.
  <% elsif @visitor %>
    Hello, <%= @visitor%>!
  <% else %>
  <form action="/name_entry">
    <input type="text" name="name">
    <input type="submit" value="Submit">
  </form>
  <% end%>
